name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

# Down scope as necessary via https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
permissions:
  checks: write
  contents: write
  pages: write
  id-token: write
  deployments: write

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test --workers=1
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: reports/playwright/
        retention-days: 30
    - name: Run jest tests
      run: npm run test:api
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: jest-report
        path: reports/jest/
        retention-days: 30
    - name: Setup Pages
      if: always()
      uses: actions/configure-pages@v2
    - name: Upload artifact
      if: always()
      uses: actions/upload-pages-artifact@v1
      with:
        path: 'reports'
    - name: Deploy to GitHub Pages
      if: always()
      id: deployment
      uses: actions/deploy-pages@v1
